/* styles.css */

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    height: 70%;
    padding: 40px;
    background-color: white;
    border-radius: 2px;
}

form > * {
    width: 100%;
}

input, select, button{
    height: 40px;
    border-radius: 2px;
    border: 3px solid black;
    width: 100%;
    padding: 0px 8px;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 16px;
}

button:hover {
    background-color: rgb(59, 59, 59);
}

:invalid {
    border-color: red;
}